body {
  background-color: #e5dcdf;
  margin: 5px 30px;
}

a {
  text-decoration: none;
  color: 0abab5;
}

.App {
  max-width: 800px;
}

.App-logo {
  max-width: 750px;
  max-height: 300px;
  display: block;
  margin: 0 auto;
  border-radius: 5px;
}

.App-footer {
  text-align: center;
  margin-top: 4px;
}
